vim/bundle/*
!vim/bundle/vundle

# ignore machine-specific zsh configurations
zsh/local/*

# ignore vim file history
vim/.netrwhist

# ignore gpg stuff
gnupg/.gpg-agent-info
gnupg/random_seed
gnupg/*.gpg

